@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geostar+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss";;



@theme {
  --font-geist-mono: "Geist Mono";
  --font-geostar-fill: "Geostar Fill";
  --font-roboto-slab: "Roboto Slab";
  --font-kavoon: "Kavoon";
}


@layer base {
  body {
    @apply bg-black bg-[url(noise.webp)] mt-20 max-w-470 mx-auto
  }
}


@layer components {
  .flex-center {
    @apply flex items-center justify-center
  }
}


/*----------------- Slider_2 ------------------*/
.cont:hover ul { animation-play-state: paused }
@keyframes scroll {
  to {transform: translateX(calc(-100% - 16px))}
}

@keyframes scrollbig {
  to {transform: translateX(calc(-100% - 40px))}
}
/* ------------------------------------------- */